<?=$data['header']?>


<div class="container main">
    <div class="tableSettings" style="width:150px">
    <table class="tableS">
        <tbody>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td><a href="/logout">Log Out</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tableNotifi" style="width:250px">
    <table class="tableN">
        <tbody>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
            <tr>
                <td><i class="fas fa-sign-out-alt"></i></td>
                <td>Log Out</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="row">
        <div class="col-sm-3 collapse navbar-collapse" id="responsive-menu">
            <label class="serchTop-left"><input type="text" placeholder="Search.."></label>

            <?php if($data['category_id']): ?>
                <?php for($i=0; $i< count($data['category_id']); $i++): ?>
                    <div class="panel">
                        <div class="panel-heading">
                            <a><i class="fa fa-shopping-cart"></i><?=$data['content'][$i]?></a>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <div class="wrapper-ul">
                                    <ul class="category_ul">
                                        <?php foreach($data['project'][$i] as $x): ?>
                                            <li><a class="project" data-project-id="<?=$x['project_id']?>"><?=$x['title']?></a></li>
                                        <?php endforeach; ?>
                                        <li><div class="button" data-category-id="<?=$data['category_id'][$i]?>"><a href="#">Add Project</a></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endfor; ?>
            <?php endif; ?>
            <div><button class="addGroup">Add Category</button></div>
           
        </div>
        <div class="col-sm-3 collapse navbar-collapse" id='content'>
            <div class="wrapper-ul">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>



<?=$data['footer']?>