<?=$data['header']?>


<div class="container main">
    <div class="row">
        <div class="col-sm-3 collapse navbar-collapse" id="responsive-menu">
            <label class="serchTop-left"><input type="text" placeholder="Search.."></label>
            <div class="panel">
                <div class="panel-heading">
                    <a ><i class="fa fa-shopping-cart"></i>Work</a>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <div class="wrapper-ul">
                            <ul>
                                <li><div class="button"><a href="#">Add Project</a></div></li>
                            </ul>
                        

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a ><i class="fa fa-shopping-cart"></i>Personal</a>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <div class="wrapper-ul">
                            <ul>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Consectetur adipisicing</a></li>
                                <li><div class="button"><a>Add Work page</a></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a><i class="fa fa-shopping-cart"></i>Other</a>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <div class="wrapper-ul">
                            <ul>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Consectetur adipisicing</a></li>
                                <li><div class="button"><a>Add Work page</a></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <a><i class="fa fa-shopping-cart"></i>Home</a>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body">
                        <div class="wrapper-ul">
                            <ul>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Consectetur adipisicing</a></li>
                                <li><div class="button"><a>Add Work page</a></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <?php 
            $arr = $data['cont'];
            foreach ($arr as $value) {?>
                
                <div class="panel">
                    <div class="panel-heading">
                        <a><i class="fa fa-shopping-cart"></i><?php echo $value;?></a>
                    </div><div class="panel-collapse">
                        <div class="panel-body">
                            <div class="wrapper-ul">
                                <ul>
                                    <li><a href="#">Lorem ipsum</a></li>
                                    <li><a href="#">Consectetur adipisicing</a></li>
                                    <li><div class="button"><a>Add Work page</a></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
			<?php } ?>
            <div><button class="addGroup">Add Group</button></div>
        </div>
    </div>
</div>



<?=$data['footer']?>